---
const { title, subtitle, detail } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-bold mb-1">{title}</h3>
    <h3 class="font-medium mb-1">{subtitle}</h3>
    <span class="font-light mb-1 italic">{detail}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
