---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I have 2+ years of experience working as a Software Engineer in the
    industry. <br />
    I have 5+ years of experience managing organizations and projects. <br />
    I have 1+ years of experience implementing and deploying Machine Learning Models.
    <br />
    <a href="/public/Taekyu_Kang_Resume.pdf" download><u>Click here to download my resume</u></a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="University of British Columbia"
      subtitle="Master of Data Science in Computational Linguistics"
      detail="Expected June 2025"
    />
    <TimeLineElement
      title="University of British Columbia"
      subtitle="Bachelor of Applied Science in Computer Engineering, Minor in Commerce"
      detail="Graduated May 2022"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Recent Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <a href="https://www.campuslightbox.com" , target="_blank"
      ><TimeLineElement
        title="Campus Lightbox"
        subtitle="Co-founder & Director"
        detail="Vancouver, Canada (Jul 2017 - Present)"
      >
        <ul class="list-disc ml-4">
          <li>
            CampusLightbox.com is a Canadian non-profit organization aimed to
            better facilitate mental health resources
          </li>
          <li>
            Managed all aspects of project development from successfully
            recruiting over 30 project members to completing the development of
            Phase 1 (Information Consolidation) and Phase 2 (Resource
            Recommender) of the project
          </li>
          <li>
            Three time winner of the UBC Innovative Projects Award with over
            10,000 active users per year and over 40,000 users accumulated over
            the project lifetime
          </li>
        </ul>
        <br />
      </TimeLineElement>
    </a>
    <a href="https://www.settle.com" , target="_blank"
      ><TimeLineElement
        title="Settle"
        subtitle="Full-Stack Software Engineer"
        detail="San Francisco, USA (Sept 2022 - Aug 2023)"
      >
        <ul class="list-disc ml-4">
          <li>Designed, developed, and integrated APIs</li>
          <li>
            Developed features such as MFA (Multi-Factor Authentication), Smart
            Banking, Custom User Roles, and more
          </li>
          <li>
            Contributed to more than 500 pull requests (PR) in total, improving
            code maintainability by as much as 50% and feature usability by 20%
          </li>
        </ul>
        <br />
      </TimeLineElement>
    </a>
    <a href="https://www.sap.com/index.html" , target="_blank"
      ><TimeLineElement
        title="SAP"
        subtitle="Software Engineer & Technical Project Manager Intern"
        detail="Vancouver, Canada (May 2019 - Aug 2020)"
      >
        <ul class="list-disc ml-4">
          <li>Designed and developed features for the SAP's NLP product</li>
          <li>
            Implemented and integrated several APIs layer additional features
          </li>
          <li>
            Desgiend and implemented a setiment analysis tool using Python
          </li>
        </ul>
        <br />
      </TimeLineElement>
    </a>
    <a href="https://geeringup.apsc.ubc.ca" , target="_blank"
      ><TimeLineElement
        title="UBC Geering Up"
        subtitle="Software Engineering Instructor"
        detail="Vancouver, Canada (May 2018 - Sept 2018)"
      >
        <ul class="list-disc ml-4">
          <li>
            Designed software engineering projects and their associated
            curriculum to Elementary to High School students
          </li>
          <li>
            Taught software engineering and game design for more than 500 hours
          </li>
        </ul>
      </TimeLineElement>
    </a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Other Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <a
      href="https://www.linkedin.com/company/proj-aurora-mental-health-foundation/?viewAsMember=true"
      ,
      target="_blank"
      ><TimeLineElement
        title="Project Aurora Mental Health Foundation"
        subtitle="Co-Founder & Director"
        detail="Vancouver, Canada (Jan 2020 - Nov 2023)"
      >
        <ul class="list-disc ml-4">
          <li>
            A registered non-profit aimed at accelerating the creation, growth,
            and impact of youth-led mental health initiatives by providing
            mentorship, connections, administrative/logistical support, and
            funding
          </li>
          <li>
            Sparked the innovation of several successful mental health projects
            such as Campus Lightbox, Malhar, and an in-house mental health
            research team
          </li>
        </ul>
        <br />
      </TimeLineElement>
    </a>
    <a href="https://people.ece.ubc.ca/~mjulia/ReSeSS.html" , target="_blank"
      ><TimeLineElement
        title="UBC ReSeSS Research Lab"
        subtitle="Undergraduate Resesarch Assistant"
        detail="Summer 2018"
      >
        <ul class="list-disc ml-4">
          <li>
            Utilized Soot to perform data-flow analysis on Android applications
            to test their integrity
          </li>
        </ul>
        <br />
      </TimeLineElement>
    </a>
    <a
      href="https://www.crunchbase.com/organization/classpick"
      ,
      target="_blank"
      ><TimeLineElement
        title="ClassPick"
        subtitle="Sales Manager"
        detail="Seoul, South Korea (Aug 2017 - Apr 2018"
      >
        <ul class="list-disc ml-4">
          <li>
            Developed the company's sales manual which outlined procedures for
            handling sales calls and events
          </li>
          <li>
            Worked with other sales managers to successfully bring on fitness
            centers across Seoul as clients to our platform
          </li>
        </ul>
        <br />
      </TimeLineElement>
    </a>
    <a
      href="https://www.crunchbase.com/organization/classpick"
      ,
      target="_blank"
      ><TimeLineElement
        title="UBC Residence Life"
        subtitle="Residence Advisor"
        detail="Vancouver, Canada (Aug 2016 - June 2017"
      >
        <ul class="list-disc ml-4">
          <li>
            Addressed community issues and provided support to residents in
            personal, academic, and medical situations, connecting them to
            professionals if deemed necessary
          </li>
        </ul>
      </TimeLineElement>
    </a>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Master Of Data Science In Computational Linguistics Scholar (2024)</li>
    <li>RBC Get Seeded Award (2022)</li>
    <li>First Class Honours Award(2022)</li>
    <li>Canadian Rising Youth Scholar (2021)</li>
    <li>Innovative Projects Award (2018, '20, '21)</li>
    <li>UBC Blue And Gold Scholar (2018)</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Ruby on Rails</li>
    <li>Python</li>
    <li>Java</li>
    <li>JavaScript, HTML, CSS</li>
    <li>SQL, PostgreSQL, GraphQL</li>
    <li>Git, Github</li>
    <li>AWS, GCP, Heroku</li>
    <li>NLP, LLM, LMM</li>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>NLTK</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>Scikit-Learn</li>
  </ul>
</BaseLayout>
