---
const today = new Date();
---

<footer class="footer footer-center block mb-5" style="position:relative; z-index: 1;">
  <div class="pb-2">
    &copy; {today.getFullYear()} Taekyu (David) Kang
  </div>
</footer>
<style></style>
